
easy_admin:
    entities:
          Despesa:
              class: App\Entity\Despesa
              label: 'menu.despesa'
              disabled_actions: ['delete']
              list:
                  title: 'menu.despesa'
                  max_results: 20
                  actions:
                        - {name: 'show', label: '', icon: 'search'}
                        - {name: 'search', label: 'menu.despesa.pesquisar'}
                        - {name: 'edit', label: '', icon: 'pencil'}
                        - {name: 'delete', label: '',icon: 'trash'}

                  fields:

                        - { property: 'dateVencimento',label: 'Vencimento' }
                        - { property: 'datePagamento',label: 'Pagamento' }
                        - { property: 'valor',label: 'Valor' }

                        - {property: 'recebido', label: 'Pago'}
              form:
                  fields:
                        - { type: 'group', css_class: 'col-sm-6', label: 'Dados da fatura',icon: 'truck'}
                        - { property: 'docNumber',label: 'N.Doc' }
                        - { property: 'fornecedores',label: 'Fornecedor/Empresa',type: 'easyadmin_autocomplete',type_options: { required: true }  }
                        - { property: 'descricao',label: 'Descrição' }
                        - { type: 'group', css_class: 'col-sm-6', label: 'Detalhes' }
                        - { property: 'dateVencimento',label: 'Vencimento' }
                        - { property: 'datePagamento',label: 'Pagamento' }
                        - { property: 'valor',label: 'Valor Pago',type: 'number' }
